@mixin button() {
  padding: 3px;
  text-align: center;
  // position: relative;
  display: inline-block;
  color: $grey-lighter;
  cursor: pointer;

  & span {
    height: 24px;
    width: 24px;
  }

  &:hover {
    color: $grey;
  }
  &:active {
    color: $grey-darker;
  }
}
