// Colors
$black: #000;
$white: #fff;
$grey-lighter: #aaaaaa;
$grey: #888;
$grey-darker: #484848;
$border-controller: $grey-lighter;
$border-table: #cacaca;

// Spacing
$db-header-height: 60px;
$header-height: 40px;
$toolbar-height: 34px;
$formula-height: 26px;
$info-cell-width: 40px;
$row-height: 20px;
$cell-width: 120px;